<h1>Your account</h1>

<p><%= link_to "Edit Account", edit_user_path(@user.id) %></td>
<p>User Name: <%= @user.name %></p>
<p>Email Address: <%= @user.email %></p>


<ul>
<% @user.routes.each do |route| %>
<% ur = Owner.where(user_id: @user.id, route_id: route.id)[0] %>
<li><%= route.name + ' - ' %> 
<% if ur.completed %>
<%= link_to "Mark as Undone", owner_path + '?user_id=' + @user.id.to_s + '&route_id=' + route.id.to_s + '&completed=0', method: :patch %>
<% else %>
<%= link_to "Mark as Completed", owner_path + '?user_id=' + @user.id.to_s + '&route_id=' + route.id.to_s + '&completed=1', method: :patch %>
<% end %>
 - <%= link_to "Delete From Profile", owner_path + '?user_id=' + @user.id.to_s + '&route_id=' + route.id.to_s, method: :delete %>
</li>
<% end %>
<h3>Places I've been</h3>
<div>

<% @complete_routes.each do |route| %>
<% route.landmarks.each do |lm| %>
<%= image_tag lm.image_url, class: "landmark-thumbnail" %>
<%end%>
<%end%>
</div>
<h3>Places I want to go</h3>
<div>

<% @incomplete_routes.each do |route| %>
<% route.landmarks.each do |lm| %>
<%= image_tag lm.image_url, class: "landmark-thumbnail" %>
<%end%>
<%end%>
</div>

</ul>


