<h1>Routes</h1>
<h4><%= link_to "Add a Route",new_route_path %></h4>
<% @routes.each do |route| %>
<ul>
	<li><%= link_to route.name, route_path(route) %></li>

<%= render 'add_links', :route => route, :cur_user => @cur_user %>

	<ol>
<% route.cities.order('route_number').each do |city| %>
<li><%= city.full_name %><% city.landmarks.each do |lm| %><%=' - ' + lm.name  %> 
<%end%>
</li>
<% end %>
</ol>

</ul>
<% end %>
<%= will_paginate @routes %>



