<h1><%= @route.name%></h1>
<p><%= @route.description %></p>
<h4>Cities</h4>
<ol>
<% ordered_cities = @route.cities.order('route_number') %>
<% ordered_cities.each do |city| %>
<li><%= city.full_name %></li>
<% end %>
</ol>

<h4>Map Your Route</h4>
<div id="map"></div>

<h2>Places You'll See</h2>



<% @route.landmarks.each do |lm| %>
<div class="side-block">
<%= image_tag lm.image_url, class: "landmark-thumbnail" %>
</div>
<%end%>
</div>

<% @route.landmarks.each do |lm| %>
<div class="side-block">
<p class="image-links"><%= link_to lm.name, landmark_path(lm)%></p> 
</div>
<% end %>
<div>
<p><%= link_to "Delete Route", route_path(@route), method: :delete %> <%= link_to "Edit Route", edit_route_path(@route)%>
<% if @cur_user %>
<% ur = Owner.where(user_id: @cur_user.id, route_id: @route.id)[0] %>

<% if !ur %>
<%= link_to "Add to my profile", owner_path + '?user_id=' + @cur_user.id.to_s + '&route_id=' + @route.id.to_s, method: :post %>
<% else %>

<% if ur.completed %>
<%= link_to "Mark as Undone", owner_path + '?user_id=' + @cur_user.id.to_s + '&route_id=' + @route.id.to_s + '&completed=0', method: :patch %>
<% else %>
<%= link_to "Mark as Completed", owner_path + '?user_id=' + @cur_user.id.to_s + '&route_id=' + @route.id.to_s + '&completed=1', method: :patch %>
<% end %>
<% end %>
<% end %>
<% lats = ordered_cities.map do |city| city.lat end %>
<% longs = ordered_cities.map do |city| city.long end %>
<% names = ordered_cities.map do |city| city.name end %>

<script>
  function initMap() {
  	var lats = <%= lats %>;
  	var longs = <%= longs%>;
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 37.0902, lng: -95.7129},
      zoom: 3
    	}
    );
    for (var i = lats.length - 1; i >= 0; i--) {
    	var point = { lat: lats[i], lng: longs[i] };
    	var marker = new google.maps.Marker({
    	position: point,
    	title:"X"
		});


		marker.setMap(map);
    };

    

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>





