<h1><%= @route.name%></h1>
<p><%= @route.description %></p>
<h4>Cities</h4>
<ol>
<% @route.cities.order('route_number').each do |city| %>
<li><%= city.full_name %></li>
<% end %>
</ol>
<h2>Places You'll See</h2>
<% @route.landmarks.each do |lm| %>
<p><%= link_to lm.name, landmark_path(lm)%></p> 
<% end %>
<div>
<% @route.landmarks.each do |lm| %>
<%= image_tag lm.image_url, class: "landmark-thumbnail" %>

<%end%>
</div>
<p><%= link_to "Delete Route", route_path(@route), method: :delete %> <%= link_to "Edit Route", edit_route_path(@route)%></p>





