<h1><%= @route.name%></h1>
<p><%= @route.description %></p>
<h4>Cities</h4>
<ol>
<% ordered_cities = @route.cities.order('route_number') %>
<% ordered_cities.each do |city| %>
<li><%= link_to city.full_name, city_path(city)%></li>
<% end %>
</ol>

<h4>Map Your Route</h4>
<div id="map"></div>

<h2>Places You'll See</h2>



<% @route.landmarks.each do |lm| %>
<div class="side-block">
<%= image_tag lm.image_url, class: "landmark-thumbnail" %>
</div>
<%end%>
</div>

<% @route.landmarks.each do |lm| %>
<div class="side-block">
<p class="image-links"><%= link_to lm.name, landmark_path(lm)%></p> 
</div>
<% end %>
<div>
<p><%= link_to "Delete Route", route_path(@route), method: :delete %> <%= link_to "Edit Route", edit_route_path(@route)%>

<%= render 'add_links', :route => @route, :cur_user => @cur_user %>

<% lats = ordered_cities.map do |city| city.lat end %>
<% longs = ordered_cities.map do |city| city.long end %>
<% names = ordered_cities.map do |city| city.name end %>

<script>
 // Code edited from https://developers.google.com/maps/documentation/javascript/examples/directions-simple
  function initMap() {
  	var lats = <%= lats %>;
  	var longs = <%= longs%>;
  	var directionsService = new google.maps.DirectionsService;
  	var directionsDisplay = new google.maps.DirectionsRenderer;
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 37.0902, lng: -95.7129},
      zoom: 3
    	}
    );
    directionsDisplay.setMap(map);
    
    calculateAndDisplayRoute(directionsService, directionsDisplay);
  	  

  }

function calculateAndDisplayRoute(directionsService, directionsDisplay) {
  var lats = <%= lats %>;
  var longs = <%= longs%>;
  var start = {lat: lats[0],lng: longs[0]};
  var end = {lat: lats[lats.length-1],lng: longs[longs.length-1]};
  var waypoints = [];
  for (var i = 1; i <= lats.length-2; i++) {
    	waypoints.push(
    		{location:{ lat: lats[i], lng: longs[i]}});
    	
		};
  	directionsService.route({
    origin: start,
    destination: end,
    waypoints: waypoints,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>





