<!DOCTYPE html>
<html>
<head>
  <title>Road Tripping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
  <nav>
<h1>Road Tripping</h1>
    <ul>
     <li><%= link_to "Routes", root_path %></li>
     <li><%= link_to "Cities", root_path %></li>
     <li><%= link_to "Landmarks", root_path %></li>
     <% if session["user_id"].present? %>
     <% cur_user = User.find_by(id: session["user_id"]) %>
     	<li><%= link_to	cur_user.name +'s Trips', root_path %></li>
     <% else %>
     <li style="float:right"><%= link_to "Log In", root_path %></li>
     <% end %>
     
     <li style="float:right"><%= link_to "Sign Up", root_path %></li>
     <li style="float:right"><%= link_to "My Account", root_path %></li>
    </ul>
    
  </nav>

<div class="container">
<% if flash["notice"].present? %>
<p><%= flash["notice"] %></p>
<% end %>
<%= yield %>

</div>



</body>
</html>
